[Unit]
Description=A description for your firmware_update_arm service goes here
After=network.target

[Service]
Type=simple
ExecStart=/bin/bash /usr/sbin/firmware_update_arm.sh
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target
